<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Magento 2</h5>
          <ul>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-affiliate-extension/" title="Magento 2 Affiliate extension">Affiliate Program</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-gift-card-extension/" title="Magento 2 Gift Card, Certificates">Gift Card</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-reward-points-extension/" title="Magento 2 Reward Points">Reward Points</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-seo-extension/" title="Magento 2 SEO extension">SEO Suite</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-blog-extension/" title="Magento 2 blog extension">Better Blog</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-social-login-extension/" title="Magento 2 Social Login">Social Login</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-banner-slider-extension/" title="Magento 2 Banner Slider">Banner Slider</a></li>
          </ul>

        </div>

        <div class="col l3 s12">
          <ul>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-quickbooks-integration-extension/" title="Magento 2 Quickbooks integration">Quickbooks Integration</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-salesforce-integration-extension/" title="Magento 2 Salesforce integration">Salesforce Integration</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-search-extension/" title="Magento 2 Search Extension">Quick Search</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-follow-up-email-extension/" title="Magento 2 Follow Up Email">Follow Up Email</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
           <h5 class="white-text">Magento 1</h5>
            <ul>
              <li><a  class="white-text" href="{{ site.url }}/magento-affiliate-extension/" title="Magento Affiliate extension">Affiliate</a></li>
              <li><a  class="white-text" href="{{ site.url }}/magento-blog/" title="Magento 2 blog extension">Better Blog</a></li>
              <li><a  class="white-text" href="{{ site.url }}/magento-zoho-crm-integration-extension/" title="Magento Zoho CRM integration">Zoho CRM integration</a></li>
              <li><a  class="white-text" href="{{ site.url }}/magento-faq/" title="Magento FAQ extension">FAQ</a></li>
              <li><a  class="white-text" href="{{ site.url }}/magento-product-slider/" title="Magento Product Slider extension">Product Slider</a></li>
            </ul>
        </div>


        <div class="col l3 s12">
           {% include footer_right.html %}
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © Copyright {{ site.time | date:"%Y" }} by {{ site.name }}
      </div>

    </div>
</footer>
