<h5 class="white-text">Company</h5>
<ul>
	<li><a rel="nofollow" class="white-text" href="{{ site.url }}/contact.html" >Contact</a></li>
	<li><a rel="nofollow" class="white-text" href="{{ site.url }}/privacy.html" title="Privacy">Privacy</a></li>
	<li><a rel="nofollow" class="white-text" href="{{ site.url }}/tos.html" title="Terms and Conditions">TOS</a></li>
	<li><a  class="white-text" href="{{ site.url }}/kb/" title="Magento 2 Knowledge Base">Knowledge Base</a></li>
	<li><a  class="white-text" href="{{ site.url }}/blog/" title="Magento Blog">Blog</a></li>
	<li><a  class="white-text" href="{{ site.url }}/blog/" title="Magento Blog">Blog</a></li>
	<li><a  class="white-text" href="{{ site.url }}/kb/magento-2-tutorial/" title="Magento 2 Tutorial">Magento 2 Tutorial</a></li>
</ul>