<nav class="light lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ site.url }}" class="brand-logo">{{ site.name }}</a>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.url }}/magento-extensions/">Magento® Extensions</a></li>
        <li><a href="{{ site.url }}/magento-2-extensions/">Magento® 2</a></li>
        <li><a href="{{ site.url }}/magento-2-free-extensions/" title="Magento 2 Free Extensions">Free Extensions</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ site.url }}/magento-extensions/">Magento® Extensions</a></li>
        <li><a href="{{ site.url }}/magento-2-extensions/">Magento® 2</a></li>
        <li><a href="{{ site.url }}/magento-2-free-extensions/" title="Magento 2 Free Extensions">Free Extensions</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>



<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}/assets/img/logo.jpg"
    }
</script>

<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "{{ site.url }}",
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "{{ site.phone }}",
        "contactType" : "Customer service"
      }]
    }
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{ site.name }}",
  "url" : "{{ site.url }}",
  "sameAs" : [
    "https://www.facebook.com/mageplaza/",
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Mageplaza",
  "alternateName" : "{{ site.name }}",
  "url" : "{{ site.url }}"
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Restaurant",
  "@id": "{{ site.phone }}",
  "name": "{{ site.name }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "2835 Barnes Street",
    "addressLocality": "Florida",
    "addressRegion": "FL",
    "postalCode": "32805",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 37.0625,
    "longitude": -95.677068
  },
  "url": "{{ site.url }}",
  "telephone": "{{ site.phone }}"
}
</script>


{% if(page.rating) %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Thing",
      "name": "{{ page.title }}",
      "description": "{{ page.description }}",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ page.rating }}",
        "bestRating": "100",
        "ratingCount": "{{ page.review_count }}"
      }
    }
    </script>
{% endif %}
    