<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
<!-- Navigation -->
{% include nav.html %}


<!-- Page breadcrumb -->
<nav>
	<div class="nav-wrapper" id="breadcrumb-wrapper">
	  <div class="col s12">
	    <a href="{{ site.url }}" class="breadcrumb">Home</a>
	    <a href="{{ site.url }}/kb/" class="breadcrumb">Knowledge Base</a>
	    <a class="breadcrumb">{{ page.title }}</a>
	  </div>
	</div>
</nav>

<!-- Page Content -->
  <div class="container">
    <div class="section">

	    <!-- Contents -->
    	<div class="row">
	        <div class="col s12">
	        <h1 class="header">{{ page.title }}</h1>

	          <div class="card">
	          	{% if(page.image) %}
	            <div class="card-image">
	              <img src="{{ site.url }}{{ page.image }}">
	              <span class="card-title">{{ page.title }}</span>
	            </div>
	            {% endif %}


	            <div class="card-content">
	              {{ content }}
	            </div>


	            <div class="card-action">
	              <p>{% include social-buttons.html %}</p>

	            </div>
	          </div>
	        </div>
	    </div>
		

	    <!-- Comments -->
		<div class="row" id="comment-section">
			<h2 class="header" id="header-comments">Comments for {{ page.title }}</h2>
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">

					<p class="card-title">Please leave comments if you have any questions, feedbacks.</p>
					
					{% include disqus.html %}
					</div>
				</div>
			</div>
		</div>



		<!-- Related -->
		{% if (page.topic) %}
		<div class="row">
			<ul class="collection with-header">
		    	<li class="collection-header"><h3 class="header"><a href="{{ site.url }}/kb/{{ page.topic }}">{{ page.topic-label }}</a></h3></li>

		      {% for post in site.categories.kb | sort: 'date'  %}
		      	{% if(page.topic == post.topic)  %}
		        <li class="collection-item avatar">
		        	<i class="material-icons circle green">insert_chart</i>
		        	<span class="title">
		          	<a href="{{ site.url }}{{ post.url }}" >
		    	        {{ post.title }}
		            </a>
		          </span>
		          
		        </li>
		        {% endif %}

		      {% endfor %}

		  </ul>


		</div>
		{% endif %}

		<!-- End Related -->

		<!-- Recent posts -->
		<div class="row">
			<ul class="collection with-header">
		    	<li class="collection-header"><h3 class="header"><a href="{{ site.url }}/kb/">Recent Knowledge Base</a></h3></li>

		      {% for post in site.categories.kb limit:10 | sort: 'date'  %}
		        <li class="collection-item avatar">
		        	<i class="material-icons circle green">insert_chart</i>
		        	<span class="title">
		          	<a href="{{ site.url }}{{ post.url }}" >
		    	        {{ post.title }}
		            </a>
		          </span>
		          
		        </li>

		      {% endfor %}

		  </ul>


		</div>

		<!-- End Recent posts -->


	</div>
</div>



<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>