<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
<!-- Navigation -->
{% include nav.html %}

<!-- Page breadcrumb -->
<nav>
	<div class="nav-wrapper" id="breadcrumb-wrapper">
	  <div class="col s12">
	    <a href="{{ site.url }}" class="breadcrumb">Home</a>
	    <a href="{{ site.url }}/magento-2-extensions/" class="breadcrumb">Magento 2 Extensions</a>
	    <a class="breadcrumb">{{ page.title }}</a>
	  </div>
	</div>
</nav>

<!-- Page Content -->
  <div class="container">
    <div class="section">

	    <!-- Start content -->
    	<div class="row">
	        <div class="col s12 ">

        	<h1 class="header">{% if(page.h1-title) %}{{ page.h1-title }}{% else %}{{ page.title }}{% endif %}</h1>

	          <div class="card">
	          	<!-- {% if(page.image) %}
	            <div class="card-image">
	              <img src="{{ site.url }}{{ page.image }}">
	              <span class="card-title">{{ page.title }}</span>
	            </div>
	            {% endif %} -->

	            


	            <div class="card-content">
	              {{ content }}
	            </div>


	            <div class="card-action">
	              <p>{% include social-buttons.html %}</p>

	            </div>
	          </div>
	        </div>

	       

    
	      </div>
		

	      <!-- Start Reviews -->
		<div class="row" id="review-section">
			<h3 class="header">Reviews</h3>
			<div class="col s12 m12">
				<div class="card">
				<span class="card-title">What clients say</span>
				<div class="card-content">
				</div>
				</div>
			</div>
		</div>





		<!-- START: You also  may like -->
		<div class="row" id="you-also-may-like">

				<h3 class="header">You also may like</h3>

		        {% for extension in site.categories.m2e limit 8 | sort: 'sort_order' %}
		          
		        <div class="col s12 m3">
		          <div class="card medium">
		            <div class="card-image waves-effect waves-block waves-light">
		              <a href="{{ site.url }}{{ extension.url }}">
		                <img class="activator" src="{{ site.url }}{{ extension.image }}">
		              </a>
		            </div>
		            <div class="card-content">
		              <a href="{{ site.url }}{{ extension.url }}">
		              <span class="card-title activator grey-text text-darken-4">
		                {{ extension.title }}
		              </span>
		              </a>
		              

		              <div class="card-action">
		               

		              <p>
		                <div class="left">
		                <span>
		                  {% if extension.price == 0 %}FREE{% else %} ${{ extension.price }}{% endif %}
		                </span>
		                  <!-- <a href="{{ site.url }}{{ extension.purchase_link }}">
		                    <i class="tiny material-icons">shopping_cart</i>
		                  </a> -->
		                </div>



		                <span class="right">

		                    {% if extension.review_count == 1 %}
		                      {{ extension.review_count }} review
		                    {% elsif extension.review_count > 1 %}  
		                      {{ extension.review_count }} reviews
		                    {% else %}
		                      no review
		                    {% endif %}
		                  
		                </span>

		              

		              </p>
		              </div>

		            </div>
		            
		          </div>
		        </div>

		        {% endfor %}

		</div>
		<!-- END You also may like -->




	</div>
</div>



<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>